/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
    .home
        
        top: 7%
        min-width: 85%
        font-size: 1rem
        background: #fff

        color: rgba(74, 71, 71, 0.9)
    .home-wrapper
        justify-content: space-between
    .next-btn-wrp
        margin-bottom: 13%
    
    .lang-set
        .lang-logo
            width: 10%

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 750px)
    .home-wrapper
        

    .home
        position: unset
        font-size: .7rem
        min-width: 85%
        color: rgba(74, 71, 71, 0.9)
        padding: 3%
    .lang-set
        .lang-logo
            width: 6%
    .next-btn-wrp
        margin-bottom: 0%
        .next-button
            font-size: 2rem

//tablet portrait
@media only screen and (min-width: 750px) and (max-width: 850px)
    // .home
    //     // position: absolute
    //     // left: -50%
    //     // right: -50%
    .next-btn-wrp
        margin-bottom: 13% 
    .lang-set
        .lang-logo
            width: 5%

//tablet landscape
@media only screen and (min-width: 850px) and (max-width: 1050px) 
    .next-btn-wrp
        margin-bottom: 13%            
// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px)

// /* Large devices (laptops/desktops, 992px and up) */
//  @media only screen and (min-width: 992px)

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px)
